[submodule "external/monero-cpp"]
	path = external/monero-cpp
	url = https://github.com/monero-ecosystem/monero-cpp.git
[submodule "external/QR-Code-generator"]
	path = external/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/raft"]
	path = external/raft
	url = https://github.com/willemt/raft.git
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/i2pd"]
	path = external/i2pd
	url = https://github.com/PurpleI2P/i2pd.git
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "external/libnatpmp"]
	path = external/libnatpmp
	url = https://github.com/miniupnp/libnatpmp.git
